*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.title-container, .ingredients-title-container, .instructions-container{
    font-family:'playfair display', sans;
    font-weight: 700;
}
.ingredients-checkbox, .instructions{
    font-family:'montserrat', sans;
    font-weight: 400;
}
.ingredients-container{
    display:flex;
    flex-direction:row;
}
@media (max-width:858px){
    .ingredients-container{
        display:flex;
        flex-direction: column;
        margin: 0;
    }
}